<html>
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="icon" href="/images/logo.png">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!--Icofonts link-->
    <link rel="stylesheet" href="/vendor/icofont/icofont.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <title>Mahi chat room</title>
</head>
<body>
        <div id="login">
            <div class="container-fluid" >
                <header class="text-center">
                    <h1><i class="icofont-won"></i><span class="header-text mr-3">elcome to Lucky's Chat room</span><i class="icofont-ui-chat icofont-3x "></i></h1>
                    <p class="caption text-center">- The Chamber of Secrets.</p>
                </header>    
            </div>
            <div class="container mt-5">
                <div class="register_section mt-5 pb-5 pr-0 pl-5 pt-4">
                    <form id="NickForm">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <label for="Name" class="text-center">Enter your awesome nickname</label>
                                </div>
                                <div class="col-md-12 my-2" >
                                    <p class="text-danger align-left"><b id="name_err"></b></p>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" name="nickname" id="nickname" class="form-control" placeholder="Nick name">
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        

        <div class="container mt-5 row p-0 chatroom_section" id="chat-room">
                <div class="col-md-3 col-sm-12 users_section p-0">
                    <div class="users_header p-3">
                        <h3 class="text-center">Online users</h3>
                    </div>
                    <div class="online_users">
                            
                    </div>
               </div>
               <div class="col-md-9 col-sm-12 chat_section p-0">
                    <div class="chat_header p-3">
                        <h3 id="user_name"></h3>
                    </div>
                    <div id="chat_box" class="p-5">
    
                    </div>
                    <div class="message_box p-3 mt-4">
                        <form id="user_message">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-10">
                                        <input type="text" name="message" id="message" class="form-control" placeholder="Type to send">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-primary">Send</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
               </div>
        </div>
     
    

     <!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

     <!-- Latest compiled JavaScript -->
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

     <!-- Custom JS -->
    <script src="/js/main.js"></script>

    <!-- Socket connection-->
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>